<% if  flash[:unauthorized] %>
  <p><%= flash[:unauthorized] %></p>
<% end %>

<div class="content">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing.id) do %>
      <div class="listing">
        <div class="listing-content">      
          <h3>Title: <%= listing.title %></h3>
          <p>Description: <%= listing.description %></p>
          <p>Breed: <%= listing.breed.name %></p>
        </div>
        <div class="listing-image">      
          <%= render "image-logic", listing: listing %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h1>Page count</h1>
<h3><%= session[:count] %></h3>