<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>

<div class="show-image">  
  <%= render "image-logic", listing: @listing %>
</div>

<div class="show-edit-delete">
  <%= link_to "Edit", edit_listing_path(@listing.id) %>
  <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <%= link_to "Back", :back %>
</div>