<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<p>Price: <%= number_to_currency(@listing.deposit / 100.0) %></p>

<div class="show-image">  
  <%= render "image-logic", listing: @listing %>
</div>

<div class="show-edit-delete">
  <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing.id) %>
    <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <% end %>
  <% if user_signed_in? && @listing.sold == false && @listing.user.id != current_user.id %>
    <%= link_to "Pay Now 💵", "", id: "stripe"  %>
  <% end %>
  <%= link_to "Back", :back %>
</div>

<%= javascript_pack_tag "stripe" %>