<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1>Title: <%= @listing.title %></h1>
<p>Description: <%= @listing.description %></p>
<p>Price: 1000</p>

<div class="show-image">  
  <%= render "image-logic", listing: @listing %>
</div>

<div class="show-edit-delete">
  <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing.id) %>
    <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <% end %>
  <%= link_to "Pay Deposit", nil, id: "stripe" %>
  <%= link_to "Back", :back %>
</div>

<%= javascript_pack_tag "stripe" %>