<nav>
  <%= link_to "ðŸ", root_path %>
  <%= link_to "Listings", listings_path %>
  <%= link_to "Create New Listing", new_listing_path %>
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</nav>