<!DOCTYPE html>
<html>
  <head>
    <title>Snake Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "shared/nav" %>
      <%= notice %>
      <div class="container">
        <%= yield %>  
      </div>
  </body>
</html>
